h1 {
  color: orange;
  font-family: 'Bungee Inline', cursive;
  font-size: 30px;
}

h2 {
  color: orange;
    font-family: 'Indie Flower', cursive;
}
h3 {
  color: brown;
  font-family: 'Indie Flower', cursive;
}

p {
    font-family: 'Indie Flower', cursive;
}
